@CHARSET "UTF-8";
body
{
	padding: 0px;
	margin: 0px;
}

.line
{
	width: 400px;
	height: 50px;
	margin: 0px;
	padding: 0px;
}

h1
{
	text-align: center;
}

#mainContainer
{
	height: 300px;
	width: 500px;
	margin: 100px auto 0px auto;
	border-radius: 10px;
	border: 1px solid grey;
}

.label
{
	text-align: right;
	font-size: 18px;
	width: 100px;
	height: 40px;
	margin: 5px 10px 5px 5px;
	float: left;
	 
}

.inputContainer, input
{
	float: left;
	width: 280px;
	height: 40px;	
}

input
{
	font-size: 18px;
}

#submitBtn
{
	margin: 0px 0px 0px 110px;
}