<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.even.jobcrawler.model.db.mybatis.mapper.PasswordMapper">
	<select id="selectPassword" resultType="String">
		select pwd from password where id = "1"
	</select>
	
	<update id="updatePassword" parameterType="String">
		update password set pwd = #{password} where id = "1"
	</update>
</mapper>